* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
}

.container {
    max-width: 585px;
    margin: auto;
}

.logo {
    max-width: 192px;
    padding: 50px 15px;
}

.box-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    gap: 20px;
}

.box {
    text-align: left;
}

.box div label {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.box input {
    width: 280px;
    height: 30px;
    outline: none;
    padding-left: 10px;
    margin: 8px 0px 20px 0px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
}

.contact-flex {
    display: flex;
    flex-direction: column;
}

.address-flex {
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 20px;
}

.contact h3 {
    font-size: 18px;
    font-weight: 600;
    margin-right: 20px;
}

.address textarea {
    outline: none;
}

.address select {
    margin-left: 20px;
    border-radius: 50px;
    padding: 4px;
    border: 1px solid #000;
}

.note h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

.quatiymilkflex {
    display: flex;
    align-items: baseline;
    gap: 20px;
    margin: 20px 0
}

.quatiymilk h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

.quatiymilk select {
    border-radius: 50px;
    outline: none;
    padding: 4px;
    border: 1px solid #000;
}

.selection {
    display: flex;
    align-items: baseline;
    gap: 20px;
    margin-bottom: 20px;
}

.selection h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

.selection select {
    border-radius: 50px;
    outline: none;
    padding: 4px;
    border: 1px solid #000;
}

.time h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

.time h4 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 8px;
}

.time h4 span {
    margin-left: 15px;
}